---
# Spark API Mini Exercises
---

Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

## 1.

Spark Dataframe Basics
- Use the starter code above to create a pandas dataframe.

In [2]:
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

- Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [3]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [4]:
df = spark.createDataFrame(pandas_dataframe)

- Show the first 3 rows of the dataframe.

In [5]:
pandas_dataframe.head(3)

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False

In [6]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

- Show the first 7 rows of the dataframe.

In [7]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

- View a summary of the data using .describe.

In [8]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

- Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [9]:
df.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

- Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [10]:
df.select('group', 'abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

- Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [11]:
df.select('group', df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

- Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [12]:
df.select('group', df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [13]:
from pyspark.sql.functions import col

In [14]:
df.select('group', col('n').alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

## 2.

Column Manipulation
- Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df
- Use .select to add 4 to the n column. Show the results.

In [15]:
df.select('n', df.n + 4).show()

+--------------------+------------------+
|                   n|           (n + 4)|
+--------------------+------------------+
|  -0.712390662050588|3.2876093379494122|
|   0.753766378659703| 4.753766378659703|
|-0.04450307833805...|3.9554969216619464|
| 0.45181233874578974|  4.45181233874579|
|  1.3451017084510097|5.3451017084510095|
|  0.5323378882945463| 4.532337888294546|
|  1.3501878997225267| 5.350187899722527|
|  0.8612113741693206|  4.86121137416932|
|  1.4786857374358966| 5.478685737435897|
| -1.0453771305385342| 2.954622869461466|
| -0.7889890249515489|3.2110109750484512|
|  -1.261605945319069| 2.738394054680931|
|  0.5628467852810314| 4.562846785281032|
|-0.24332625188556253|3.7566737481144377|
|  0.9137407048596775| 4.913740704859677|
| 0.31735092273633597| 4.317350922736336|
| 0.12730328020698067| 4.127303280206981|
|  2.1503829673811126| 6.150382967381113|
|  0.6062886568962988| 4.606288656896298|
|-0.02677164998644...|3.9732283500135592|
+--------------------+------------------+

- Subtract 5 from the n column and view the results.

In [16]:
df.select('n', df.n - 5).show()

+--------------------+-------------------+
|                   n|            (n - 5)|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
|  0.5323378882945463| -4.467662111705454|
|  1.3501878997225267|-3.6498121002774733|
|  0.8612113741693206|  -4.13878862583068|
|  1.4786857374358966| -3.521314262564103|
| -1.0453771305385342| -6.045377130538534|
| -0.7889890249515489| -5.788989024951549|
|  -1.261605945319069| -6.261605945319069|
|  0.5628467852810314| -4.437153214718968|
|-0.24332625188556253| -5.243326251885563|
|  0.9137407048596775| -4.086259295140323|
| 0.31735092273633597| -4.682649077263664|
| 0.12730328020698067| -4.872696719793019|
|  2.1503829673811126|-2.8496170326188874|
|  0.6062886568962988| -4.393711343103702|
|-0.02677164998644...| -5.026771649986441|
+--------------------+-------------------+

- Multiply the n column by 2. View the results along with the original numbers.

In [17]:
df.select('n', df.n * 2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

- Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [18]:
df.select('n', (df.n * -1).alias('n2')).show(4)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

In [19]:
df.select('*', (df.n * -1).alias('n2')).show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

- Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [20]:
df.select('*', (df.n ** 2).alias('n3')).show(5)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  1.3451017084510097|    z|false|  1.8092986060778251|
+--------------------+-----+-----+--------------------+
only showing top 5 rows

- What happens when you run the code below?

`df.group + df.abool`

In [21]:
df.group + df.abool

Column<'(group + abool)'>

You get a column object back

- What happens when you run the code below? What is the difference between this and the previous code sample?

`df.select(df.group + df.abool)`

In [22]:
# df.select(df.group + df.abool)

Returns an error that it cannot cast `group` as a double

- Try adding various other columns together. What are the results of combining the different data types?

In [23]:
# df.select(df.n + df.abool)

Also a type mismatch

## 3.

Type casting
- Use the starter code above to re-create a spark dataframe.
- Use .printSchema to view the datatypes in your dataframe.

In [24]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

- Use .dtypes to view the datatypes in your dataframe.

In [25]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

- What is the difference between the two code samples below?

`df.abool.cast('int')`

`df.select(df.abool.cast('int')).show()`

In [26]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [27]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

One is creating a column and one is using that same column in a select to show the results

- Use .select and .cast to convert the abool column to an integer type. View the results.

In [28]:
df.select('abool', df.abool.cast('int')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
|false|    0|
| true|    1|
+-----+-----+

- Convert the group column to a integer data type and view the results. What happens?

In [29]:
df.select('group', df.group.cast('int')).show()

+-----+-----+
|group|group|
+-----+-----+
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    z| null|
|    y| null|
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    y| null|
|    y| null|
|    y| null|
|    y| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    x| null|
+-----+-----+

All nulls due to group being a string datatype

- Convert the n column to a integer data type and view the results. What happens?

In [30]:
df.select('n', df.n.cast('int')).show()

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  -0.712390662050588|  0|
|   0.753766378659703|  0|
|-0.04450307833805...|  0|
| 0.45181233874578974|  0|
|  1.3451017084510097|  1|
|  0.5323378882945463|  0|
|  1.3501878997225267|  1|
|  0.8612113741693206|  0|
|  1.4786857374358966|  1|
| -1.0453771305385342| -1|
| -0.7889890249515489|  0|
|  -1.261605945319069| -1|
|  0.5628467852810314|  0|
|-0.24332625188556253|  0|
|  0.9137407048596775|  0|
| 0.31735092273633597|  0|
| 0.12730328020698067|  0|
|  2.1503829673811126|  2|
|  0.6062886568962988|  0|
|-0.02677164998644...|  0|
+--------------------+---+

Seems like it rounds to the nearest int

- Convert the abool column to a string data type and view the results. What happens?

In [31]:
df.select('abool', df.abool.cast('string')).dtypes

[('abool', 'boolean'), ('abool', 'string')]

Looks the same, but types are different

## 4.

Built-in Functions
- Use the starter code above to re-create a spark dataframe.
- Import the necessary functions from pyspark.sql.functions

In [32]:
from pyspark.sql.functions import min, max, mean, lit, concat

- Find the highest n value.
- Find the lowest n value.
- Find the average n value.

In [33]:
df.select(max('n'), min('n'), mean('n')).show()

+------------------+------------------+-------------------+
|            max(n)|            min(n)|             avg(n)|
+------------------+------------------+-------------------+
|2.1503829673811126|-1.261605945319069|0.36640264498852165|
+------------------+------------------+-------------------+

- Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [34]:
df.select(concat(lit('Group: '), 'group')).show(3)

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
+----------------------+
only showing top 3 rows

- Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [35]:
df.select(concat('group', lit(': '), 'n')).show(3)

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
+--------------------+
only showing top 3 rows

## 5.

When / Otherwise
- Use the starter code above to re-create a spark dataframe.
- Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.

In [36]:
from pyspark.sql.functions import when

In [37]:
df.select(when(df.abool, 'It is true').otherwise('It is false')).show()

+----------------------------------------------------+
|CASE WHEN abool THEN It is true ELSE It is false END|
+----------------------------------------------------+
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                         It is false|
|                                          It is true|
+----------------------------------------------------+

- Create a column that contains 0 if n is less than 0, otherwise, the original n value.

In [38]:
df.select('n', when(df.n < 0, 0).otherwise(df.n)).show()

+--------------------+-----------------------------------+
|                   n|CASE WHEN (n < 0) THEN 0 ELSE n END|
+--------------------+-----------------------------------+
|  -0.712390662050588|                                0.0|
|   0.753766378659703|                  0.753766378659703|
|-0.04450307833805...|                                0.0|
| 0.45181233874578974|                0.45181233874578974|
|  1.3451017084510097|                 1.3451017084510097|
|  0.5323378882945463|                 0.5323378882945463|
|  1.3501878997225267|                 1.3501878997225267|
|  0.8612113741693206|                 0.8612113741693206|
|  1.4786857374358966|                 1.4786857374358966|
| -1.0453771305385342|                                0.0|
| -0.7889890249515489|                                0.0|
|  -1.261605945319069|                                0.0|
|  0.5628467852810314|                 0.5628467852810314|
|-0.24332625188556253|                                0.0|
|  0.9137407048596775|                 0.9137407048596775|
| 0.31735092273633597|                0.31735092273633597|
| 0.12730328020698067|                0.12730328020698067|
|  2.1503829673811126|                 2.1503829673811126|
|  0.6062886568962988|                 0.6062886568962988|
|-0.02677164998644...|                                0.0|
+--------------------+-----------------------------------+

## 6.

Filter / Where
- Use the starter code above to re-create a spark dataframe.
- Use .filter or .where to select just the rows where the group is y and view the results.

In [39]:
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

- Select just the columns where the abool column is false and view the results.

In [40]:
df.filter(df.abool == False).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [41]:
df.filter(~df.abool).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

- Find the columns where the group column is not y.

In [42]:
df.filter(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

- Find the columns where n is positive.

In [43]:
df.filter(df.n > 0).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
|0.12730328020698067|    z|false|
| 2.1503829673811126|    y| true|
| 0.6062886568962988|    x|false|
+-------------------+-----+-----+

- Find the columns where abool is true and the group column is z.

In [44]:
df.filter(df.abool & (df.group == 'z')).show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

- Find the columns where abool is true or the group column is z.

In [45]:
df.filter(df.abool | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

- Find the columns where abool is false and n is less than 1

In [46]:
df.filter((df.abool == False) & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [47]:
df.filter((~df.abool) & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

- Find the columns where abool is false or n is less than 1

In [48]:
df.filter((~df.abool) | (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

## 7.

Sorting
- Use the starter code above to re-create a spark dataframe.
- Sort by the n value.

In [49]:
df.sort('n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  0.9137407048596775|    y|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

- Sort by the group value, both ascending and descending.

In [50]:
df.sort('group').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|   0.753766378659703|    x|false|
|-0.02677164998644...|    x| true|
| -0.7889890249515489|    x|false|
|  0.6062886568962988|    x|false|
|  0.8612113741693206|    x|false|
| 0.31735092273633597|    x|false|
|-0.24332625188556253|    y| true|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  0.5628467852810314|    y| true|
| 0.45181233874578974|    y|false|
|  2.1503829673811126|    y| true|
| 0.12730328020698067|    z|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3501878997225267|    z|false|
|  1.3451017084510097|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

In [51]:
from pyspark.sql.functions import asc, desc

In [52]:
df.sort(asc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.02677164998644...|    x| true|
|  0.6062886568962988|    x|false|
| 0.31735092273633597|    x|false|
|   0.753766378659703|    x|false|
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
| 0.45181233874578974|    y|false|
|  -1.261605945319069|    y|false|
|-0.24332625188556253|    y| true|
| -1.0453771305385342|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  0.5628467852810314|    y| true|
|  0.5323378882945463|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3501878997225267|    z|false|
|  1.3451017084510097|    z|false|
|  1.4786857374358966|    z| true|
| 0.12730328020698067|    z|false|
+--------------------+-----+-----+

In [53]:
df.sort(desc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  -0.712390662050588|    z|false|
|  0.5323378882945463|    y|false|
|  2.1503829673811126|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
| 0.45181233874578974|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
|   0.753766378659703|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

- Sort by the group value first, then, within each group, sort by n value.

In [54]:
df.sort('group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

- Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

In [55]:
df.sort('abool', 'group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.02677164998644...|    x| true|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

Order does matter since it determines the order in which teh columns will be sorted

## 8.

Spark SQL
- Use the starter code above to re-create a spark dataframe.
- Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.

In [56]:
df.createOrReplaceTempView('my_df')

- Write a query that shows all of the columns from your dataframe.

In [57]:
spark.sql('select * from my_df').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

- Write a query that shows just the n and abool columns from the dataframe.

In [58]:
spark.sql('''
SELECT n, abool
FROM my_df
''').show(7)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
+--------------------+-----+
only showing top 7 rows

- Write a query that shows just the n and group columns. Rename the group column to g.

In [59]:
spark.sql('''
SELECT
    n,
    group AS g
FROM my_df
''').show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
+--------------------+---+
only showing top 7 rows

- Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [60]:
spark.sql('''
SELECT
    n,
    n / 2 AS n2,
    n - 3 AS n3
FROM my_df
''').show(7)

+--------------------+--------------------+-------------------+
|                   n|                  n2|                 n3|
+--------------------+--------------------+-------------------+
|  -0.712390662050588|  -0.356195331025294|-3.7123906620505878|
|   0.753766378659703|  0.3768831893298515| -2.246233621340297|
|-0.04450307833805...|-0.02225153916902...|-3.0445030783380536|
| 0.45181233874578974| 0.22590616937289487|  -2.54818766125421|
|  1.3451017084510097|  0.6725508542255049|-1.6548982915489903|
|  0.5323378882945463| 0.26616894414727316|-2.4676621117054536|
|  1.3501878997225267|  0.6750939498612634|-1.6498121002774733|
+--------------------+--------------------+-------------------+
only showing top 7 rows

- What happens if you make a SQL syntax error in your query?

In [61]:
# spark.sql('''
# SELECT
#     n,
#     n / 2 AS n2,
#     n - 3 AS n3,
# FROM my_df
# ''').show(7)

Throws an error

## 9.

Aggregating
- What is the average n value for each group in the group column?

In [62]:
df.groupBy('group').agg(mean('n').alias('mean_n_value')).show()

+-----+-------------------+
|group|       mean_n_value|
+-----+-------------------+
|    x|0.28714277625394485|
|    z|  0.590730814237962|
|    y| 0.2576014196023739|
+-----+-------------------+

- What is the maximum n value for each group in the group column?

In [63]:
df.groupBy('group').agg(max('n').alias('max_n_value')).show()

+-----+------------------+
|group|       max_n_value|
+-----+------------------+
|    x|0.8612113741693206|
|    z|1.4786857374358966|
|    y|2.1503829673811126|
+-----+------------------+

- What is the minimum n value by abool?

In [64]:
df.groupBy('abool').agg(min('n').alias('min_n_value')).show()

+-----+-------------------+
|abool|        min_n_value|
+-----+-------------------+
|false| -1.261605945319069|
| true|-1.0453771305385342|
+-----+-------------------+

- What is the average n value for each unique combination of the group and abool column?

In [65]:
df.groupBy('group', 'abool').agg(mean('n').alias('mean_n_value')).show()

+-----+-----+--------------------+
|group|abool|        mean_n_value|
+-----+-----+--------------------+
|    z|false| 0.41313982959837514|
|    y|false| 0.15907124664523611|
|    x|false|   0.349925661502022|
|    y| true| 0.35613159255951177|
|    z| true|  1.4786857374358966|
|    x| true|-0.02677164998644...|
+-----+-----+--------------------+